* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
}
img {
  width: 100%;
}
/* header style  */
header {
  position: absolute;
  z-index: 11;
  inset: 0;
}
nav {
  background-color: transparent;
  padding: 20px;
}
.navbar-collapse {
  flex-grow: unset;
}
.navbar-nav {
  justify-content: center;
  flex-grow: 1;
}
nav ul li {
  padding: 10px;
}
nav ul li a {
  color: white !important;
}
nav ul li a:hover {
  color: #00ae00 !important;
}
nav .collapse {
  background-color: rgb(48, 47, 47);
  margin-right: 80px;
  border-radius: 80px !important;

  --tw-shadow-colored: 0 0 20px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
nav .navbar-brand img {
  padding-right: 10px;
  width: 53px;
}
nav .navbar-brand {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}
nav button span img {
  width: 15px;

  background-color: rgba(0, 0, 0, 0.699);
  border-radius: 50px;
}
nav button span {
  padding: 5px;
}
nav .bts {
  background: linear-gradient(
    360deg,
    #0edb0e -1.25%,
    #008f00 82.85%,
    #00ae00 100%
  );
  border-image-source: linear-gradient(360deg, #129f11 15.79%, #28b927 100%);
  box-shadow: 0px 10px 5.9px 0px #90fa8b inset;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-radius: 10px;
  color: #fff !important;
}
/* home style section  */
.home {
  width: 100%;
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: start;
  background-image: url(../images/bg.svg);
  background-position: center;
  background-size: cover;
  position: relative;
  font-family: tagsFont;
}
.home .row img {
  width: 100px;
  margin-top: 120px;
  border-radius: 50px;
  box-shadow: 0 0 10px 5px #00ff0029, 0 0 20px 10px #00ff004f,
    0 0 30px 15px #00ff0027, 0 0 50px 25px rgba(0, 255, 0, 0.272); /* Faded green */
}
.mt-150 {
  margin-top: 150px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: tagsFont;
}
@font-face {
  font-family: tagsFont;
  src: url("../fonts/SpaceGrotesk-VariableFont_wght.ttf");
}
@font-face {
  font-family: countFont;
  src: url("../fonts/Stinky\ Slime.woff2");
}
.home h1 {
  font-size: 70px;
  text-transform: uppercase;
  color: white;
}
.home p {
  text-transform: capitalize;
  color: white;
}
/* form style  */
@media screen and (max-width: 768px) {
  .home {
    height: 200vh !important; /* Example height for mobile */
  }
}
.home .item {
  /* background: linear-gradient(to bottom, #015701, #000);
  border-radius: 30px !important;
  color: white;
  font-family: Arial, sans-serif;
  border-bottom: transparent !important; */
  border-style: solid;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(5 107 3 / var(--tw-border-opacity));
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-bottom: 14px;
}
.home .item .card {
  border-bottom: transparent !important;
}
.card-header {
  background: linear-gradient(
    360deg,
    #0edb0e -1.25%,
    #008f00 82.85%,
    #00ae00 100%
  );
  border-image-source: linear-gradient(360deg, #129f11 15.79%, #28b927 100%);
  box-shadow: 0px 10px 5.9px 0px #90fa8b inset;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: #000;
  font-weight: 800;
}
.home p {
  margin-bottom: 2px !important;
}
.time-box h2 {
  color: #fff !important;
  margin-bottom: 0;
  background-color: #000;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 20px;
  font-family: countFont;
}
.home .col-6 article {
  color: #7a817a;
}

.time-box p {
  font-size: 10px;
  color: white;
}
input {
  z-index: 5555;
}

.form-control {
  border: 1px solid #0bff0b !important;
}

.progress-bar {
  font-size: 12px;
  border-radius: 0 10px 10px 0;
  line-height: 20px;
}
.progress {
  border-radius: 20px;
  color: black;
  text-align: center !important;
}
.progress p {
  color: rgb(125, 121, 121) !important;
  text-align: center !important;
  margin-left: 80px;
}
.home .item img {
  width: 25px;
  margin-right: 10px !important;
  margin: 0 !important;
  box-shadow: none !important;
}
.home .item .card {
  background: linear-gradient(to bottom, #015701, #000);
}
.pra_Line {
  /* display: block; */
  position: relative;
  font-size: 20px;
  margin: 20px 0;
  font-size: 14px;
  color: #e0dbdba2 !important;
}
.navbar-toggler {
}
nav .navbar-toggler-icon {
  color: #fff !important;
  background-color: #06761a !important;
  border-radius: 30px;
}
.pra_Line::before,
.pra_Line::after {
  content: "";
  position: absolute;
  z-index: 55555;
  inset: 0;
  top: 50%;
  width: 30%;
  height: 1px;
  background: #e0dbdbc1;
}
.home .status {
  font-size: 18px;
}
.pra_Line::before {
  left: 70% !important;
}
.home .item .card-body .btn {
  width: 220px;
  margin: 10px;
  background-color: #000;
  border: 1px solid #0bff0b;
  border-radius: 3px;
  color: #13f113;
  cursor: pointer;
  z-index: 5555;
}
.input-with-icon {
  position: relative; /* لجعل العنصر الرئيسي يحتوي العناصر الداخلية */
  display: inline-block; /* لاحتواء الإدخال والصورة معًا */
  width: 100%; /* لجعل العنصر يمتد بحجم الحاوية */
}

.input-with-icon input {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
  z-index: 11;
  position: relative;
}

.input-with-icon img {
  width: 25px !important;
  z-index: 111;
  position: absolute; /* تثبيت الصورة داخل العنصر */
  top: 50%; /* توسيط الصورة رأسيًا */
  right: 10px; /* ضبط المسافة من اليمين */
  transform: translateY(-50%); /* تصحيح التمركز العمودي */
  height: 25px; /* تحديد ارتفاع الصورة */
  pointer-events: none; /* لمنع التفاعل مع الصورة */
}
.home .item .card-body .btn-green {
  background-color: #0bff0b;
  color: #000;
}
.home .item article {
  font-size: 14px;
  margin-bottom: 5px;
}
.card-footer::after {
  content: "Invest in EvilKermit.";
  color: #0bff0b;
}
/* discover section style  */
.discover .card {
  background-color: #1b1c1b4f !important;
  color: #fff;
  padding: 15px;
}

.discover h2 {
  color: #e4ff17;
  font-weight: 800;
  font-size: 45px;
}
.discover h3 {
  padding: 5px;
  color: #e4ff17;
}
.discover p {
  color: #fff !important;
  padding: 10px;
}
.discover .btns button {
  color: #fff;
  padding: 12px;
  margin: 7px;
  border-radius: 5px;
  background-color: #1b1c1b4f;
  border: none;
}
.discover .btn img {
  width: 30px;
  background-color: #000;
  border-radius: 50px;
}
.discover .btn {
  color: #fff;
  background-color: #1b1c1b4f;
  color: #e4ff17;
  border-radius: 30px;
}
.discover article {
  color: #fff;
}
/* feature style  */
.feature span {
  color: #e4ff17;
}
.feature .card {
  border-left: 3px solid #e4ff17;
}
.feature .card-feature {
  border: none;
  margin: 10px;
}
.feature .card-feature span {
  padding: 20px;
  font-size: 20px;
}
.feature h5 {
  color: #fff;
  font-size: 18px;
  margin-top: 25px;
}
.feature button {
  background-color: #e4ff17;
  color: #000 !important;
  border-radius: 5px;
  border: none;
  padding: 10px 30px;
}
.feature button img {
  width: 20px;
  padding: 5px;
  background-color: #000;
  border-radius: 50px;
}
.different button {
  border-radius: 30px !important;
  font-size: 14px !important;
}
.different .viewBTN {
  background-color: #1b1c1b4f;
  color: #e4ff17 !important;
}
.Advantages h4 {
  border-left: 2px solid #e4ff17;
  padding-left: 20px;
}
.Advantages p {
  color: rgba(255, 255, 255, 0.63) !important;
}
.identity .row {
  border-radius: 10px;
}
.footer .card {
  border: none;
  text-align: center;
  border-radius: 10px;
}
.footer .card h2 {
  color: #fff;
}
.different p {
  padding: 5px !important;
  margin-bottom: 3px !important;
}
.Advantages a img {
  width: 10%;
}
.Advantages .btn {
  background-color: #e4ff17 !important;
}
.discover .card img {
  width: 10%;
  margin: auto;
}
footer h3 {
  font-family: countFont;
}
footer {
  border-top: 1px dotted #0bff0b28;
  padding: 20px;
  padding-top: 320px;
  background-image: url(../images/Footimage.aab2168eb63e24d6dba4.png);
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: #0000008f;
}
footer .card {
  background-color: #000;
  color: #fff;
  text-align: left !important;
  padding: 20px;
  height: 50vh !important;
  border: 2px solid #008f0077 !important;
}
.footer img {
  width: 50px;
}
.footer li {
  font-size: 22px;
  padding: 5px;
}
.footer li {
  list-style: none;
  padding-top: 5px;
}

.footer h4 {
  border-bottom: 2px dotted #0bff0b45;
  padding: 10px;
}

.footer .card .email::after {
  content: "support@evilKermit.com";
  color: #0bff0b;
}
@media (min-width: 320px) and (max-width: 768px) {
  .home h1 {
    font-size: 40px;
  }
  nav .collapse {
    background-color: #000000;
    border-radius: 10px;
    padding: 20px;
  }
  .home .item {
    margin-top: 50px;
  }
  .home .item button {
    width: 140px !important;
  }
  .discover {
    margin-top: 350px;
  }
  h2 {
    font-size: 30px !important;
  }
  footer li {
    font-size: 15px !important;
  }
  footer .card {
    margin: 5px;
    height: 60vh !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .home h1 {
    font-size: 40px;
  }
  nav .collapse {
    background-color: #000000;
    border-radius: 10px;
    padding: 20px;
  }
  .home .item {
    margin-top: 50px;
  }
  .home .item button {
    width: 120px !important;
  }
  .discover {
    margin-top: 350px;
  }
  h2 {
    font-size: 30px !important;
  }
  footer li {
    font-size: 15px !important;
  }
  footer .card {
    margin: 5px;
    height: 60vh !important;
  }
}
@media (min-width: 1024px) and (max-width: 1404px) {
  .home .item button {
    width: 150px !important;
  }
  .discover {
    margin-top: 450px !important;
  }
}
